*{
    margin: 0;
    padding:0;
    font-family: 'Poppins';
    overflow-x: hidden;
}
.banner{
    min-height: 100vh;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(56deg, rgba(0,0,0,0.13217787114845936) 0%, rgba(0,0,0,0.468312324929972) 20%, rgba(0,0,0,1) 100%);
    background-image:url(Fluid_Pink_Blue_Wallpaper_8k_10-31-hero-31-Desktop-1.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.offcanvas-body{
    font-family: inherit;
    font-size: 24px;
font-style: normal;
font-weight: 800;
}
.offcanvas-body ul li{
    width: 100%;
}
.gradientbutton{
    background: transparent;
    stroke: none;
    border: none;
}
.vibe-up
{
    display: block;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    align-items: center;
}
.content{
    width: 70vw;
    height: auto;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(255, 255, 255, 0.98);
text-shadow: 11px 8px 4px rgba(0, 0, 0, 0.44);
font-family: inherit;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
